.n-placeholder-btn:hover{
	transform: scale(1.5) !important;
	transition: transform 200ms !important;
	background-color: rgba(0,0,0,0) !important;
	color:#531793 !important;
	cursor:pointer !important;
	border:none !important;
}
.n-placeholder-btn,.n-placeholder-btn:active,.n-placeholder-btn:focus,.n-placeholder-btn::selection{
	background-color:white !important;
	color:#579317 !important;
	border:none !important;
	margin: 7px !important;
	max-width: 18px !important;
	max-height: 18px !important;
	border-radius: 8px !important;
	box-shadow: 1px 1px 2px white !important;
}
n-placeholder-icon{
	color:#579317;
	float:right;
}
.n-suggestion-tooltip .tooltip-inner{
	min-width: 275px;
	font-size: 1.2em;
}
.n-suggestion-screenshot{
	margin-top: 7px;
}
.placeholder-menu-header{
	color:white !important;
}
.n-placeholder-btn svg{
	position: relative !important;
}
.n-placeholder-menu{
	overflow-y:auto;
	display: none;
	visibility: initial;
	opacity: initial;
	max-height:20em;
	z-index: 1070 !important;
	position: absolute;
	inset: 0px 0px auto auto;
	margin: 0px;
	transform: translate3d(-28.8px, -25.6px, 0px);
	border: 0;
	box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.08);
	min-width: 10rem;
	padding: 0;
	color: #47404f;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border-radius: 0.25rem;
	font-size: 1em !important;
}
.n-placeholder-menu[data-show="true"]{
	display:block;
}
.n-placeholder-menu li a{
	color:black !important;
}
.n-placeholder-menu li{
	width: initial;
}

.n-placeholder{
	max-height: 32px;
	display: flex;
	flex-grow: 0 !important;
}
.n-placeholder-icon{
  color: #579317;
	transition: transform 200ms !important;
  font-size: 150%;
 	position: relative !important;  
	background-color: white;
	border-radius: 12px;
}
.n-placeholder-icon:hover{
  transform: scale(1.5) !important;
	transition: transform 200ms !important;
	background-color: rgba(0,0,0,0) !important;
	color:#531793 !important;
	cursor:pointer !important;
	border:none !important;
}
.n-screenshot-icon{
	color: #579317;
	float: right;
}

.n-placeholder-menu .dropdown-header{
  font-size: 1em;
}
.n-viewport-overlay{
	position:fixed;
	bottom:0px;
	right:0px;
	width:100vw;
	height: 100vh;
	display:none;
	z-index: 1040;
  background-color: rgba(0,0,0,0.1);
}
.n-dropdown-item{
	padding: .42rem 1.5rem;
	display: block;
	width: 100%;
	clear: both;
	font-weight: 400;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}
.n-dropdown-item:hover{
	background-color: #f8f9fa;
}
.n-dropdown-header{
	display: block;
	padding: 0.5rem 1.5rem;
	margin-bottom: 0;
	color: #70657b;
	white-space: nowrap;
	;
}
.n-placeholder-bar{
	background-color: #579317;
	color: white;
	padding: 7px;
	display: flex;
	align-items: center;
	border-radius: 4px;
}
.n-placeholder-bar span{
	margin: 5px;
	line-height: 24px;
	margin-right: 5px;
	padding: 2px;
	align-items: center;
}
.n-placeholder-bar .n-placeholder-icon{
	margin: 5px;
	color: white;
	background-color: #579317;

}
